<% @course.sections.each do |section| %>
  <p>
    <strong>Section: </strong>
    <%= section.title %>
  </p>

  <% if current_user == @course.user %>
    <%= link_to 'Create Lecture', new_course_section_lecture_path(@course,section), class: "btn btn-default" %>
  <% end %>

  <%#= render 'lectures/lectures' %>

  <% section.lectures.each do |lecture| %>
    <em>Lecture: </em>
    <%= lecture.title %><br />

    <%= link_to 'Edit', edit_course_section_lecture_path(@course, section, lecture), class: "btn btn-link" %>

    <%#= link_to 'Delete', [section.title, @course],
                 method: :delete,
                 data: { confirm: 'Are you sure?', class: "btn btn-link" } %>

  <% end %>



<% end %>
