<% @course.sections.each do |section| %>
  <p>
    <strong>Section: </strong>
    <%= section.title %>
  </p>

  <% if @course.user == current_user %>
    <%= link_to 'Create Lecture', new_course_section_lecture_path(@course,section), class: "btn btn-default" %>
  <% end %>


    <%#= link_to 'Delete', [section.title, @course],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  <%#= render 'lectures/lectures' %>
<% end %>
