<div class="col-md-9 column">
   <%#= render 'shared/home' %>
   <%= image_tag 'webbanner1.jpg' %>
</div>
<div class="col-md-3 column">
  <div class="row">
    <%= image_tag 'webbanner1.jpg' %>
  </div>
</div>

<div class="col-md-3 column">here1</div>
<div class="col-md-3 column">here2</div>
<div class="col-md-3 column">here3</div>
<div class="col-md-3 column">here4</div>
